
<%= form_for [@user, @recipe] do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :direction %><br>
    <%= f.text_area :direction %>
  </div>
  <div class="field">
    <%= f.label :story %><br>
    <%= f.text_field :story %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
