<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @recipe.url %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @recipe.direction %>
</p>

<p>
  <strong>Story:</strong>
  <%= @recipe.story %>
</p>

<%= link_to 'Edit', edit_user_recipe_path(@recipe) %> |
<%= link_to 'Back', user_recipes_path %>
