      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background-color:black;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
                </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from login link when scrolled up past login section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to 'Add Memory', new_user_memory_path(@user) %>
                    </li>
                    <li>
                        <a class="page-scroll" href="">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<div class="flipbook-viewport">
  <div class="container">
    <div class="flipbook">
      <div class="book">
        <h1> <%=@user.first_name.capitalize  + "'s" + " memories"%></h1>
      </div>
      <% @memories.each do |memory| %>
      <div>
        <h1> Story </h1>
        <p><%= memory.story %></p>
      </div>
      <div>
        <h1> <%= memory.title.capitalize %></h1>
        <br>
        <% if memory.url %>
        Url: <img src="<%=memory.url%>" alt="image of story">
        <% end %>
        <br>
        Description: <p><%= memory.description %></p>
        <br>
        <td><%= link_to 'Edit', edit_user_memory_path(@user, memory) %></td>
        <td><%= link_to 'Destroy', user_memory_path(@user, memory), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">

function loadApp() {

  // Create the flipbook

  $('.flipbook').turn({
      // Width

      width:922,

      // Height

      height:600,

      // Elevation

      elevation: 50,

      // Enable gradients

      gradients: true,

      // Auto center this flipbook

      autoCenter: true

    });
}

// Load the HTML4 version if there's not CSS transform

yepnope({
  test : Modernizr.csstransforms,
  // yep: ['../../assets/javascripts/turn.js'],
  // nope: ['../../assets/javascripts/turn.html4.min.js'],
  // both: ['../../basic/css/basic.css'],
  complete: loadApp
});

</script>

