      <nav class="navbar navbar-custom navbar-fixed-top animated fadeIn" role="navigation" style="background-color:black;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
                </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from login link when scrolled up past login section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#login-modal">Create a Memory</a>
                    </li>
                    <li>
                        <%= link_to 'Logout', session_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<!-- END # BOOTSNIP INFO -->

<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img class="img-circle" id="img_logo" src="https://usmansami.files.wordpress.com/2015/08/cdsffgmfsd.jpg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form id="login-form">
                        <div class="modal-body">
                            <div id="div-login-msg">


                            </div>
                           <div class="form-group">
  <label for='login_username'>Title of Your Memory: </label>
  <input class="form-control" type='text' name='memory[title]'>
</div>

<div class="form-group">
  <label for='description'>URL: </label>
  <input class="form-control" type='text' name='item[description]'>
</div>

<div class="form-group">
  <label for='start_date'>Description: </label>
  <input class="form-control" type='textarea' name='item[start_date]'>
</div>
  <label for='story'>Story: </label>
<br>
<textarea cols="40" rows="5" name="story">
Tell Your Story
</textarea>
<br>
                                               <label for="login_password">Security</label><br>

                            <input id="login_password" class="form-control" type="text" placeholder="Public/Private" required>

                            </div>
                        </div>
 <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Create Memory</button>
                            </div>
                    </form>
                    <!-- End # Login Form -->

                    <!-- Begin | Lost Password Form -->

                </div>
                <!-- End # DIV Form -->

            </div>
        </div>
    </div>
</body>










<div class="flipbook-viewport">
  <div class="container">
    <div class="flipbook animated fadeInUpBig">
      <div class="book">
        <h1> <%=@user.first_name.capitalize  + "'s" + " memories"%></h1>
      </div>
      <% @memories.each do |memory| %>
      <div>
        <h1> Story </h1>
        <p><%= memory.story %></p>
      </div>
      <div>
        <h1> <%= memory.title.capitalize %></h1>
        <br>
        <% if memory.url %>
        Url: <img src="<%=memory.url%>" alt="image of story">
        <% end %>
        <br>
        Description: <p><%= memory.description %></p>
        <br>
        <td><%= link_to 'Edit', edit_user_memory_path(@user, memory) %></td>
        <td><%= link_to 'Destroy', user_memory_path(@user, memory), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
      <% end %>
      <div class="book">
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

function loadApp() {

  // Create the flipbook

  $('.flipbook').turn({
      // Width

      width:922,

      // Height

      height:600,

      // Elevation

      elevation: 50,

      // Enable gradients

      gradients: true,

      // Auto center this flipbook

      autoCenter: true

    });
}

// Load the HTML4 version if there's not CSS transform

yepnope({
  test : Modernizr.csstransforms,
  // Test changed to speed up book
  // yep: ['../../assets/javascripts/turn.js'],
  // nope: ['../../assets/javascripts/turn.html4.min.js'],
  // both: ['../../basic/css/basic.css'],
  complete: loadApp
});

</script>

