
<%= form_for [@user, @memory] do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% @memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, size: "50x5" %>
  </div>
  <div class="field">
    <%= f.label :private? %><br />
    <%= f.label :private, "Yes", :value => "true"  %>
    <%= f.radio_button :private, true, :checked => true %>
    <%= f.label :private, "No", :value => "false" %>
    <%= f.radio_button :private, false %>
  </div>
  <div class="field">
    <%= f.label :story %><br>
    <%= f.text_area :story, size: "50x5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
