<!DOCTYPE html>
<html>
<head>
  <title>Rituals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="width = 1050, user-scalable = no" />
<script type="text/javascript" src="../../extras/jquery.min.1.7.js"></script>
<script type="text/javascript" src="../../extras/modernizr.2.5.3.min.js"></script>
</head>
</head>
<body>
<nav>
  <ul class="nav nav-tabs">
    <li><a href="/">Home</a></li>
    <% if session[:id] %>
      <li><%= link_to "Log Out", session_path(session[:id]), method: :delete %>
    </li>
    <%else%>
      <li><a href="/login">Login</a></li>
    <%end%>
    <li><a href="mailto:
      devapptesting01@gmail.com">Contact Us</a></li>
  </ul>
</nav>
<%= yield %>
<%= react_component("NewMemory") %>
</body>
</html>
