<!DOCTYPE html>
<html>
<head>
  <title>Rituals</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width = 1050, user-scalable = no" />
<!--   // <script type="text/javascript" src="../../extras/jquery.min.1.7.js"></script>
  // <script type="text/javascript" src="../../extras/modernizr.2.5.3.min.js"></script> -->


    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.css">

    <!-- Custom Fonts -->
<!--     <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>
</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">

        <!-- Hidden li included to remove active class from login link when scrolled up past login section -->
          <% if @user.email %>
            <li class="hidden">
              <a href="#page-top"></a>
            <li>
              <%= link_to "Home", user_path(@user), :class => "gray_text" %>
            </li>
            </li>
            <li class="center"> Memories <span class="badge"> <%= @memories.count %> </span>
            </li>
            <% if session[:id] && @memories.count > 0 && session[:id].to_s === params[:id].to_s %>
            <li>
              <a href="#" class="gray_text" role="button" data-toggle="modal" data-target="#new-memory-modal">Create a Memory</a>
            </li>
            <li>
              <a href="#" class="gray_text" role="button" data-toggle="modal" data-target="#family-modal">Family Members  <span class="badge"> <%= @user.families.count %> </span></a>
            </li>
            <li>
              <a href="#" class="gray_text" role="button" data-toggle="modal" data-target="#new-member-modal">Add A Family Member</a>
            </li>
            <% elsif session[:id] && @memories.count == 0 && session[:id].to_s === params[:id].to_s%>

             <li>
              <a href="#" class="gray_text animated infinite bounce" role="button" data-toggle="modal" data-target="#new-memory-modal">Create a Memory</a>
            </li>
            <li>
              <a href="#" class="gray_text" role="button" data-toggle="modal" data-target="#family-modal">Family Members  <span class="badge"> <%= @user.families.count %> </span></a>
            </li>
            <li>
              <a href="#" class="gray_text" role="button" data-toggle="modal" data-target="#new-member-modal">Add A Family Member</a>
            </li>
            <%end%>


            <li style="color:white">
              <%= link_to 'Logout', session_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, :class => "gray_text" %>
            </li>
          <% else %>
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="#login" style="text-transform: capitalize;">Login</a>
            </li>
            <li>
              <a class="page-scroll" href=".download-section" style="text-transform: capitalize;">Sign Up</a>
            </li>
          <% end %>
        </ul>
      </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<%= yield %>
</body>
</html>
